# Java classes
*.class

# Directories for class files
**/target/
**/bin/
**/out/

# Module-specific files
module-info.class

# Dependency directories
*.jar
*.war
*.ear
lib/

# IDE specific files
*.iml
*.project
*.classpath
*.settings/
.idea/

# System Files
.DS_Store
Thumbs.db
*.log

